<div id="faq" class="text">
  <br/>
  <ul>
    <li>When is Early Vote for the General Election?<br/>

    -Early Voting starts Saturday, May 22 and ends Friday, June 4.</li>

    <li>Where can I vote?<br/>

    -You can vote at any of the voting locations in your home county.  Clark county voters can vote at any location in Clark county, Washoe county voters can vote at any location in Washoe county, Elko county voters... ok, you get the picture.</li>

    <li>When can I vote?<br/>

    -Polling hours vary by polling location.  Hover your mouse over the icon on the map to check the hours of your most convenient location.</li>

    <li>I only see my own house--what's going on?<br/>

    -Make sure you've filled in each field, and picked a date between May 22 and June 4.</li>
    </li>
  </ul>
</div>